@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #eeeeee;
}

.carousel .carousel-status, .carousel.carousel-slider .control-arrow {
  display: none;
}

/* .carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover{ */
  /* border: 3px solid #fff; */
  /* background: #000; */
/* 
  box-shadow: 2px 2px 2px 1px #fff;
} */

/* .carousel .control-dots .dot{
  border: 1px solid #fff;
  height: 20px;
  width: 20px;
  padding: 10px;
} */